<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.tiger.ip.proxy.mapper.FreeProxyMapper">
    <resultMap id="BaseResultMap" type="com.snow.tiger.ip.proxy.bean.FreeProxyBean">
        <id column="id" property="id"/>
        <result column="port" property="port"/>
        <result column="anonymity" property="anonymity"/>
        <result column="type" property="type"/>
        <result column="speed" property="type"/>
        <result column="source" property="source"/>
        <result column="foreign" property="foreign"/>
        <result column="fail_time" property="failTime"/>
        <result column="suc_time" property="sucTime"/>
        <result column="creat_time" property="creatTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryByParam" resultMap="BaseResultMap">
        SELECT * FROM t_rhino_free_proxy
        <where>
            <include refid="_common_where"/>
        </where>
    </select>

    <sql id="_common_where">
        <if test="obj.id != null">AND id = #{obj.id}</if>
        <if test="obj.port != null">AND port = #{obj.port}</if>
        <if test="obj.anonymity != null">AND anonymity = #{obj.anonymity}</if>
        <if test="obj.type != null">AND `type` = #{obj.type}</if>
        <if test="obj.source != null">AND source = #{obj.source}</if>
        <if test="obj.foreign != null">AND `foreign` = #{obj.foreign}</if>
    </sql>
    <insert id="insertList">
        REPLACE into t_rhino_free_proxy
        (`host`,
        `port`,
        `anonymity`,
        `type`,
        `speed`,
        `source`,
        `foreign`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.host},
            #{item.port},
            #{item.anonymity},
            #{item.type},
            #{item.speed},
            #{item.source},
            #{item.foreign}
            )
        </foreach>
    </insert>
    <delete id="delete">
        delete from t_rhino_free_proxy
        <where>
            id=#{id}
        </where>
    </delete>

</mapper>