<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farm.wheat.share.biz.mapper.simple.DealInfoMapper">
    <resultMap id="BaseResultMap" type="com.farm.wheat.share.biz.po.DealInfoPO">
        <id column="id_deal_info" property="idDealInfo" jdbcType="INTEGER"/>
        <result column="trading_date" property="tradingDate" jdbcType="DATE"/>
        <result column="share_code" property="shareCode" jdbcType="VARCHAR"/>
        <result column="share_name" property="shareName" jdbcType="VARCHAR"/>
        <result column="deal_price" property="dealPrice" jdbcType="DECIMAL"/>
        <result column="first_cost" property="firstCost" jdbcType="DECIMAL"/>
        <result column="stop_loss_price" property="stopLossPrice" jdbcType="DECIMAL"/>
        <result column="low_price" property="lowPrice" jdbcType="DECIMAL"/>
        <result column="high_price" property="highPrice" jdbcType="DECIMAL"/>
        <result column="profit" property="profit" jdbcType="DECIMAL"/>
        <result column="five_low_price" property="fiveLowPrice" jdbcType="DECIMAL"/>
        <result column="five_high_price" property="fiveHighPrice" jdbcType="DECIMAL"/>
        <result column="five_profit" property="fiveProfit" jdbcType="DECIMAL"/>
        <result column="ten_low_price" property="tenLowPrice" jdbcType="DECIMAL"/>
        <result column="ten_high_price" property="tenHighPrice" jdbcType="DECIMAL"/>
        <result column="ten_profit" property="tenProfit" jdbcType="DECIMAL"/>
        <result column="volume" property="volume"/>
        <result column="R_rate" property="rRate" jdbcType="DECIMAL"/>
        <result column="plan" property="plan"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id_deal_info, trading_date, share_code, share_name, deal_price,first_cost, stop_loss_price,
    low_price, high_price, profit, five_low_price, five_high_price, five_profit, ten_low_price, 
    ten_high_price, ten_profit, R_rate, plan,create_time, update_time,volume,status
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from deal_info
        where id_deal_info = #{idDealInfo,jdbcType=INTEGER}
    </select>

    <select id="selectByShareCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from deal_info
        where share_code = #{shareCode}
        and `status`=#{status}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deal_info
    where id_deal_info = #{idDealInfo,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.farm.wheat.share.biz.po.DealInfoPO">
    insert into deal_info (id_deal_info, trading_date, share_code, 
      share_name, deal_price, stop_loss_price, 
      low_price, high_price, profit, 
      five_low_price, five_high_price, five_profit, 
      ten_low_price, ten_high_price, ten_profit, 
      R_rate, create_time, update_time)
    values (#{idDealInfo,jdbcType=INTEGER}, #{tradingDate,jdbcType=DATE}, #{shareCode,jdbcType=VARCHAR}, 
      #{shareName,jdbcType=VARCHAR}, #{dealPrice,jdbcType=DECIMAL}, #{stopLossPrice,jdbcType=DECIMAL}, 
      #{lowPrice,jdbcType=DECIMAL}, #{highPrice,jdbcType=DECIMAL}, #{profit,jdbcType=DECIMAL}, 
      #{fiveLowPrice,jdbcType=DECIMAL}, #{fiveHighPrice,jdbcType=DECIMAL}, #{fiveProfit,jdbcType=DECIMAL}, 
      #{tenLowPrice,jdbcType=DECIMAL}, #{tenHighPrice,jdbcType=DECIMAL}, #{tenProfit,jdbcType=DECIMAL}, 
      #{rRate,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.farm.wheat.share.biz.po.DealInfoPO" useGeneratedKeys="true" keyProperty="idDealInfo">
        insert into deal_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idDealInfo != null">
                id_deal_info,
            </if>
            <if test="tradingDate != null">
                trading_date,
            </if>
            <if test="volume != null">
                volume,
            </if>
            <if test="firstCost != null">
                first_cost,
            </if>
            <if test="shareCode != null">
                share_code,
            </if>
            <if test="shareName != null">
                share_name,
            </if>
            <if test="dealPrice != null">
                deal_price,
            </if>
            <if test="stopLossPrice != null">
                stop_loss_price,
            </if>
            <if test="lowPrice != null">
                low_price,
            </if>
            <if test="highPrice != null">
                high_price,
            </if>
            <if test="profit != null">
                profit,
            </if>
            <if test="fiveLowPrice != null">
                five_low_price,
            </if>
            <if test="fiveHighPrice != null">
                five_high_price,
            </if>
            <if test="fiveProfit != null">
                five_profit,
            </if>
            <if test="tenLowPrice != null">
                ten_low_price,
            </if>
            <if test="tenHighPrice != null">
                ten_high_price,
            </if>
            <if test="tenProfit != null">
                ten_profit,
            </if>
            <if test="rRate != null">
                R_rate,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idDealInfo != null">
                #{idDealInfo,jdbcType=INTEGER},
            </if>
            <if test="tradingDate != null">
                #{tradingDate,jdbcType=DATE},
            </if>
            <if test="volume != null">
                #{volume,jdbcType=DATE},
            </if>
            <if test="firstCost != null">
                #{firstCost},
            </if>
            <if test="shareCode != null">
                #{shareCode,jdbcType=VARCHAR},
            </if>
            <if test="shareName != null">
                #{shareName,jdbcType=VARCHAR},
            </if>
            <if test="dealPrice != null">
                #{dealPrice,jdbcType=DECIMAL},
            </if>
            <if test="stopLossPrice != null">
                #{stopLossPrice,jdbcType=DECIMAL},
            </if>
            <if test="lowPrice != null">
                #{lowPrice,jdbcType=DECIMAL},
            </if>
            <if test="highPrice != null">
                #{highPrice,jdbcType=DECIMAL},
            </if>
            <if test="profit != null">
                #{profit,jdbcType=DECIMAL},
            </if>
            <if test="fiveLowPrice != null">
                #{fiveLowPrice,jdbcType=DECIMAL},
            </if>
            <if test="fiveHighPrice != null">
                #{fiveHighPrice,jdbcType=DECIMAL},
            </if>
            <if test="fiveProfit != null">
                #{fiveProfit,jdbcType=DECIMAL},
            </if>
            <if test="tenLowPrice != null">
                #{tenLowPrice,jdbcType=DECIMAL},
            </if>
            <if test="tenHighPrice != null">
                #{tenHighPrice,jdbcType=DECIMAL},
            </if>
            <if test="tenProfit != null">
                #{tenProfit,jdbcType=DECIMAL},
            </if>
            <if test="rRate != null">
                #{rRate,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.farm.wheat.share.biz.po.DealInfoPO">
        update deal_info
        <set>
            <if test="tradingDate != null">
                trading_date = #{tradingDate,jdbcType=DATE},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=DATE},
            </if>
            <if test="shareCode != null">
                share_code = #{shareCode,jdbcType=VARCHAR},
            </if>
            <if test="shareName != null">
                share_name = #{shareName,jdbcType=VARCHAR},
            </if>
            <if test="dealPrice != null">
                deal_price = #{dealPrice,jdbcType=DECIMAL},
            </if>
            <if test="stopLossPrice != null">
                stop_loss_price = #{stopLossPrice,jdbcType=DECIMAL},
            </if>
            <if test="lowPrice != null">
                low_price = #{lowPrice,jdbcType=DECIMAL},
            </if>
            <if test="highPrice != null">
                high_price = #{highPrice,jdbcType=DECIMAL},
            </if>
            <if test="profit != null">
                profit = #{profit,jdbcType=DECIMAL},
            </if>
            <if test="fiveLowPrice != null">
                five_low_price = #{fiveLowPrice,jdbcType=DECIMAL},
            </if>
            <if test="fiveHighPrice != null">
                five_high_price = #{fiveHighPrice,jdbcType=DECIMAL},
            </if>
            <if test="fiveProfit != null">
                five_profit = #{fiveProfit,jdbcType=DECIMAL},
            </if>
            <if test="tenLowPrice != null">
                ten_low_price = #{tenLowPrice,jdbcType=DECIMAL},
            </if>
            <if test="tenHighPrice != null">
                ten_high_price = #{tenHighPrice,jdbcType=DECIMAL},
            </if>
            <if test="tenProfit != null">
                ten_profit = #{tenProfit,jdbcType=DECIMAL},
            </if>
            <if test="rRate != null">
                R_rate = #{rRate,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>

        </set>
        where id_deal_info = #{idDealInfo,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.farm.wheat.share.biz.po.DealInfoPO">
    update deal_info
    set trading_date = #{tradingDate,jdbcType=DATE},
      share_code = #{shareCode,jdbcType=VARCHAR},
      share_name = #{shareName,jdbcType=VARCHAR},
      deal_price = #{dealPrice,jdbcType=DECIMAL},
      stop_loss_price = #{stopLossPrice,jdbcType=DECIMAL},
      low_price = #{lowPrice,jdbcType=DECIMAL},
      high_price = #{highPrice,jdbcType=DECIMAL},
      profit = #{profit,jdbcType=DECIMAL},
      five_low_price = #{fiveLowPrice,jdbcType=DECIMAL},
      five_high_price = #{fiveHighPrice,jdbcType=DECIMAL},
      five_profit = #{fiveProfit,jdbcType=DECIMAL},
      ten_low_price = #{tenLowPrice,jdbcType=DECIMAL},
      ten_high_price = #{tenHighPrice,jdbcType=DECIMAL},
      ten_profit = #{tenProfit,jdbcType=DECIMAL},
      R_rate = #{rRate,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id_deal_info = #{idDealInfo,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.farm.wheat.share.biz.po.DealInfoPO">
    update deal_info
    set trading_date = #{tradingDate,jdbcType=DATE},
      share_code = #{shareCode,jdbcType=VARCHAR},
      share_name = #{shareName,jdbcType=VARCHAR},
      deal_price = #{dealPrice,jdbcType=DECIMAL},
      stop_loss_price = #{stopLossPrice,jdbcType=DECIMAL},
      low_price = #{lowPrice,jdbcType=DECIMAL},
      high_price = #{highPrice,jdbcType=DECIMAL},
      profit = #{profit,jdbcType=DECIMAL},
      five_low_price = #{fiveLowPrice,jdbcType=DECIMAL},
      five_high_price = #{fiveHighPrice,jdbcType=DECIMAL},
      five_profit = #{fiveProfit,jdbcType=DECIMAL},
      ten_low_price = #{tenLowPrice,jdbcType=DECIMAL},
      ten_high_price = #{tenHighPrice,jdbcType=DECIMAL},
      ten_profit = #{tenProfit,jdbcType=DECIMAL},
      R_rate = #{rRate,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id_deal_info = #{idDealInfo,jdbcType=INTEGER}
  </update>
    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.farm.wheat.share.biz.dto.DealInfoDTO">
        SELECT
        <include refid="Base_Column_List"/>
        from deal_info
        <where>
            <if test="tradingDate!=null">and trading_date=#{tradingDate}</if>
        </where>

    </select>

    <update id="completeDeal">
        update deal_info
        set  status=2
        where status=1
        and share_code=#{stareCode
        }
    </update>
</mapper>