<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.wheat.share.biz.mapper.simple.ShareConceptPriceMapper">
    <resultMap id="BaseResultMap" type="com.farm.wheat.share.biz.dto.ShareConceptPriceDTO">
        <id column="id_concept_price" property="idConceptPrice"/>
        <result column="simple_name" property="simpleName"/>
        <result column="avg_price" jdbcType="DECIMAL" property="avgPrice"/>
        <result column="change" jdbcType="DECIMAL" property="change"/>
        <result column="price_change_ratio" jdbcType="DECIMAL" property="priceChangeRatio"/>
        <result column="trading_money" jdbcType="DECIMAL" property="tradingMoney"/>
        <result column="trading_volume" jdbcType="DECIMAL" property="tradingVolume"/>
        <result column="led_share_code" jdbcType="VARCHAR" property="ledShareCode"/>
        <result column="trading_date" jdbcType="VARCHAR" property="tradingDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id_concept_price, simple_name, avg_price, change, price_change_ratio, trading_money,
    trading_volume, led_share_code,trading_date, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from share_concept_price
        where id_concept_price = #{idConceptPrice,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_concept_price
    where id_concept_price = #{idConceptPrice,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.farm.wheat.share.biz.dto.ShareConceptPriceDTO">
    insert into share_concept_price (id_concept_price, simple_name, avg_price,
      change, price_change_ratio, trading_money,
      trading_volume, led_share_code,trading_date, create_time,
      update_time)
    values (#{idConceptPrice,jdbcType=INTEGER}, #{simpleName,jdbcType=INTEGER}, #{avgPrice,jdbcType=DECIMAL},
      #{change,jdbcType=DECIMAL}, #{priceChangeRatio,jdbcType=DECIMAL}, #{tradingMoney,jdbcType=DECIMAL},
      #{tradingVolume,jdbcType=DECIMAL}, #{ledShareCode,jdbcType=VARCHAR},#{tradingDate}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.farm.wheat.share.biz.dto.ShareConceptPriceDTO">
        insert into share_concept_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idConceptPrice != null">
                id_concept_price,
            </if>
            <if test="trading_date != null">
                trading_date,
            </if>
            <if test="simpleName != null">
                simple_name,
            </if>
            <if test="avgPrice != null">
                avg_price,
            </if>
            <if test="change != null">
                change,
            </if>
            <if test="priceChangeRatio != null">
                price_change_ratio,
            </if>
            <if test="tradingMoney != null">
                trading_money,
            </if>
            <if test="tradingVolume != null">
                trading_volume,
            </if>
            <if test="ledShareCode != null">
                led_share_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idConceptPrice != null">
                #{idConceptPrice,jdbcType=INTEGER},
            </if>
            <if test="tradingDate != null">
                #{tradingDate,jdbcType=INTEGER},
            </if>
            <if test="simpleName != null">
                #{simpleName,jdbcType=INTEGER},
            </if>
            <if test="avgPrice != null">
                #{avgPrice,jdbcType=DECIMAL},
            </if>
            <if test="change != null">
                #{change,jdbcType=DECIMAL},
            </if>
            <if test="priceChangeRatio != null">
                #{priceChangeRatio,jdbcType=DECIMAL},
            </if>
            <if test="tradingMoney != null">
                #{tradingMoney,jdbcType=DECIMAL},
            </if>
            <if test="tradingVolume != null">
                #{tradingVolume,jdbcType=DECIMAL},
            </if>
            <if test="ledShareCode != null">
                #{ledShareCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="replaceList">
        replace into share_concept_price (
        trading_date,
        simple_name,
        avg_price,
        `change`,
        price_change_ratio,
        trading_money,
        trading_volume,
        led_share_code
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.tradingDate},
            #{item.simpleName},
            #{item.avgPrice},
            #{item.change},
            #{item.priceChangeRatio},
            #{item.tradingMoney},
            #{item.tradingVolume},
            #{item.ledShareCode}
            )
        </foreach>
    </insert>
    <insert id="replaceSelective" parameterType="com.farm.wheat.share.biz.dto.ShareConceptPriceDTO">
        replace into share_concept_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idConceptPrice != null">
                id_concept_price,
            </if>
            <if test="tradingDate != null">
                trading_date,
            </if>
            <if test="simpleName != null">
                simple_name,
            </if>
            <if test="avgPrice != null">
                avg_price,
            </if>
            <if test="change != null">
                `change`,
            </if>
            <if test="priceChangeRatio != null">
                price_change_ratio,
            </if>
            <if test="tradingMoney != null">
                trading_money,
            </if>
            <if test="tradingVolume != null">
                trading_volume,
            </if>
            <if test="ledShareCode != null">
                led_share_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idConceptPrice != null">
                #{idConceptPrice,jdbcType=INTEGER},
            </if>
            <if test="tradingDate != null">
                #{tradingDate},
            </if>
            <if test="simpleName != null">
                #{simpleName,jdbcType=INTEGER},
            </if>
            <if test="avgPrice != null">
                #{avgPrice,jdbcType=DECIMAL},
            </if>
            <if test="change != null">
                #{change,jdbcType=DECIMAL},
            </if>
            <if test="priceChangeRatio != null">
                #{priceChangeRatio,jdbcType=DECIMAL},
            </if>
            <if test="tradingMoney != null">
                #{tradingMoney,jdbcType=DECIMAL},
            </if>
            <if test="tradingVolume != null">
                #{tradingVolume,jdbcType=DECIMAL},
            </if>
            <if test="ledShareCode != null">
                #{ledShareCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.farm.wheat.share.biz.dto.ShareConceptPriceDTO">
        update share_concept_price
        <set>
            <if test="simpleName != null">
                simple_name = #{simpleName,jdbcType=INTEGER},
            </if>
            <if test="avgPrice != null">
                avg_price = #{avgPrice,jdbcType=DECIMAL},
            </if>
            <if test="change != null">
                change = #{change,jdbcType=DECIMAL},
            </if>
            <if test="priceChangeRatio != null">
                price_change_ratio = #{priceChangeRatio,jdbcType=DECIMAL},
            </if>
            <if test="tradingMoney != null">
                trading_money = #{tradingMoney,jdbcType=DECIMAL},
            </if>
            <if test="tradingVolume != null">
                trading_volume = #{tradingVolume,jdbcType=DECIMAL},
            </if>
            <if test="ledShareCode != null">
                led_share_code = #{ledShareCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id_concept_price = #{idConceptPrice,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.farm.wheat.share.biz.dto.ShareConceptPriceDTO">
        update share_concept_price
        set simple_name = #{simpleName,jdbcType=INTEGER},
            avg_price = #{avgPrice,jdbcType=DECIMAL},
            change = #{change,jdbcType=DECIMAL},
            price_change_ratio = #{priceChangeRatio,jdbcType=DECIMAL},
            trading_money = #{tradingMoney,jdbcType=DECIMAL},
            trading_volume = #{tradingVolume,jdbcType=DECIMAL},
            led_share_code = #{ledShareCode,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id_concept_price = #{idConceptPrice,jdbcType=INTEGER}
  </update>
</mapper>
