<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farm.wheat.share.biz.mapper.simple.ShareInfoMapper">
    <resultMap id="BaseResultMap" type="com.farm.wheat.share.biz.dto.ShareInfoDto">
        <id column="ID_SHARE_INFO" property="idShareInfo" jdbcType="INTEGER"/>
        <result column="SHARE_CODE" property="shareCode" jdbcType="VARCHAR"/>
        <result column="SHARE_NAME" property="shareName" jdbcType="VARCHAR"/>
        <result column="INDUSTRY" property="industry" jdbcType="VARCHAR"/>
        <result column="CIRCULATION_MARKET_VALUE" property="circulationMarketValue" jdbcType="DECIMAL"/>
        <result column="TOTAL_MARKET_VALUE" property="totalMarketValue" jdbcType="DECIMAL"/>
        <result column="SOURCE" property="source" jdbcType="BIT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID_SHARE_INFO, SHARE_CODE, SHARE_NAME, INDUSTRY, CIRCULATION_MARKET_VALUE,
    TOTAL_MARKET_VALUE, SOURCE, CREATE_TIME, UPDATE_TIME, CREATE_BY, UPDATE_BY
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from share_info
        where ID_SHARE_INFO = #{idShareInfo,jdbcType=INTEGER}
    </select>

    <select id="selectSelective" parameterType="com.farm.wheat.share.biz.dto.ShareInfoDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from share_info
        <where>
            <if test="idShareInfo!=null">and ID_SHARE_INFO=#{idShareInfo}</if>
            <if test="shareCode!=null">and SHARE_CODE=#{shareCode}</if>
            <if test="shareName!=null">and SHARE_NAME=#{shareName}</if>
            <if test="circulationMarketValue!=null">and CIRCULATION_MARKET_VALUE=#{circulationMarketValue}</if>
            <if test="totalMarketValue!=null">and TOTAL_MARKET_VALUE=#{totalMarketValue}</if>
            <if test="source!=null">and SOURCE=#{source}</if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_info
    where ID_SHARE_INFO = #{idShareInfo,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="idShareInfo"
            parameterType="com.farm.wheat.share.biz.dto.ShareInfoDto">
    insert into share_info (ID_SHARE_INFO, SHARE_CODE, SHARE_NAME,
      CIRCULATION_MARKET_VALUE,
      TOTAL_MARKET_VALUE, SOURCE, CREATE_TIME,
      UPDATE_TIME, CREATE_BY, UPDATE_BY
      )
    values (#{idShareInfo,jdbcType=INTEGER}, #{shareCode,jdbcType=VARCHAR}, #{shareName,jdbcType=VARCHAR},
      #{circulationMarketValue,jdbcType=DECIMAL},
      #{totalMarketValue,jdbcType=DECIMAL}, #{source,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="idShareInfo"
            parameterType="com.farm.wheat.share.biz.dto.ShareInfoDto">
        replace into share_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idShareInfo != null">
                ID_SHARE_INFO,
            </if>
            <if test="shareCode != null">
                SHARE_CODE,
            </if>
            <if test="shareName != null">
                SHARE_NAME,
            </if>
             <if test="industry != null">
                INDUSTRY,
            </if>

            <if test="circulationMarketValue != null">
                CIRCULATION_MARKET_VALUE,
            </if>
            <if test="totalMarketValue != null">
                TOTAL_MARKET_VALUE,
            </if>
            <if test="source != null">
                SOURCE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="createBy != null">
                CREATE_BY,
            </if>
            <if test="updateBy != null">
                UPDATE_BY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idShareInfo != null">
                #{idShareInfo,jdbcType=INTEGER},
            </if>
            <if test="shareCode != null">
                #{shareCode,jdbcType=VARCHAR},
            </if>
            <if test="shareName != null">
                #{shareName,jdbcType=VARCHAR},
            </if>
            <if test="industry != null">
                #{industry,jdbcType=VARCHAR},
            </if>

            <if test="circulationMarketValue != null">
                #{circulationMarketValue,jdbcType=DECIMAL},
            </if>
            <if test="totalMarketValue != null">
                #{totalMarketValue,jdbcType=DECIMAL},
            </if>
            <if test="source != null">
                #{source,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.farm.wheat.share.biz.dto.ShareInfoDto">
        update share_info
        <set>
            <if test="shareCode != null">
                SHARE_CODE = #{shareCode,jdbcType=VARCHAR},
            </if>
            <if test="shareName != null">
                SHARE_NAME = #{shareName,jdbcType=VARCHAR},
            </if>

            <if test="industry != null">
                INDUSTRY = #{industry,jdbcType=VARCHAR},
            </if>

            <if test="circulationMarketValue != null">
                CIRCULATION_MARKET_VALUE = #{circulationMarketValue,jdbcType=DECIMAL},
            </if>
            <if test="totalMarketValue != null">
                TOTAL_MARKET_VALUE = #{totalMarketValue,jdbcType=DECIMAL},
            </if>
            <if test="source != null">
                SOURCE = #{source,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where ID_SHARE_INFO = #{idShareInfo,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.farm.wheat.share.biz.dto.ShareInfoDto">
    update share_info
    set SHARE_CODE = #{shareCode,jdbcType=VARCHAR},
      SHARE_NAME = #{shareName,jdbcType=VARCHAR},
      CIRCULATION_MARKET_VALUE = #{circulationMarketValue,jdbcType=DECIMAL},
      TOTAL_MARKET_VALUE = #{totalMarketValue,jdbcType=DECIMAL},
      SOURCE = #{source,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where ID_SHARE_INFO = #{idShareInfo,jdbcType=INTEGER}
  </update>
    <select id="selectByShareCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from share_info
        where SHARE_CODE = #{shareCode}
    </select>
</mapper>