<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farm.wheat.share.biz.mapper.simple.SysDicMapper" >
  <resultMap id="BaseResultMap" type="com.farm.wheat.share.biz.po.SysDicPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dic_code" property="dicCode" jdbcType="VARCHAR" />
    <result column="dic_name" property="dicName" jdbcType="VARCHAR" />
    <result column="code_value" property="codeValue" jdbcType="VARCHAR" />
    <result column="code_name_cn" property="codeNameCn" jdbcType="VARCHAR" />
    <result column="code_name_en" property="codeNameEn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dic_code, dic_name, code_value, code_name_cn, code_name_en, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.farm.wheat.share.biz.po.SysDicPO" >
    insert into sys_dic (id, dic_code, dic_name, 
      code_value, code_name_cn, code_name_en, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{dicCode,jdbcType=VARCHAR}, #{dicName,jdbcType=VARCHAR}, 
      #{codeValue,jdbcType=VARCHAR}, #{codeNameCn,jdbcType=VARCHAR}, #{codeNameEn,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.wheat.share.biz.po.SysDicPO" >
    insert into sys_dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dicCode != null" >
        dic_code,
      </if>
      <if test="dicName != null" >
        dic_name,
      </if>
      <if test="codeValue != null" >
        code_value,
      </if>
      <if test="codeNameCn != null" >
        code_name_cn,
      </if>
      <if test="codeNameEn != null" >
        code_name_en,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dicCode != null" >
        #{dicCode,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null" >
        #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeNameCn != null" >
        #{codeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="codeNameEn != null" >
        #{codeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.wheat.share.biz.po.SysDicPO" >
    update sys_dic
    <set >
      <if test="dicCode != null" >
        dic_code = #{dicCode,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null" >
        dic_name = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        code_value = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeNameCn != null" >
        code_name_cn = #{codeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="codeNameEn != null" >
        code_name_en = #{codeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.wheat.share.biz.po.SysDicPO" >
    update sys_dic
    set dic_code = #{dicCode,jdbcType=VARCHAR},
      dic_name = #{dicName,jdbcType=VARCHAR},
      code_value = #{codeValue,jdbcType=VARCHAR},
      code_name_cn = #{codeNameCn,jdbcType=VARCHAR},
      code_name_en = #{codeNameEn,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>