<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farm.wheat.share.service.mapper.simple.DealDetailInfoMapper">
    <resultMap id="BaseResultMap" type="com.farm.wheat.share.service.po.DealDetailInfoPO">
        <id column="id_deal_detail_info" property="idDealDetailInfo" jdbcType="INTEGER"/>
        <id column="id_deal_info" property="idDealInfo" jdbcType="INTEGER"/>
        <result column="trading_date" property="tradingDate" jdbcType="DATE"/>
        <result column="share_code" property="shareCode" jdbcType="VARCHAR"/>
        <result column="share_name" property="shareName" jdbcType="VARCHAR"/>
        <result column="deal_price" property="dealPrice" jdbcType="DECIMAL"/>
        <result column="volume" property="volume" jdbcType="INTEGER"/>
        <result column="target" property="target" jdbcType="VARCHAR"/>
        <result column="stop_loss_price" property="stopLossPrice" jdbcType="DECIMAL"/>
        <result column="change_money" property="changeMoney" jdbcType="DECIMAL"/>
        <result column="stamp_duty" property="stampDuty" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.farm.wheat.share.service.po.DealDetailInfoPO" extends="BaseResultMap">
        <result column="plan" property="plan" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id_deal_detail_info,id_deal_info, trading_date, share_code, share_name, deal_price, volume, target,
    stop_loss_price, plan,change_money,stamp_duty, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from deal_detail_info
        where id_deal_detail_info = #{idDealDetailInfo,jdbcType=INTEGER}
    </select>

    <select id="selectBySelective" parameterType="com.farm.wheat.share.service.dto.DealDetailInfoDTO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from deal_detail_info
        <where>
            <if test="tradingDate!=null and tradingDate!=''">and trading_date=#{tradingDate}</if>
            <if test="shareCode!=null and shareCode!=''">and share_code=#{shareCode}</if>
            <if test="shareName!=null and shareName!=''">and share_name=#{shareName}</if>
        </where>
        order by trading_date desc
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deal_detail_info
    where id_deal_detail_info = #{idDealDetailInfo,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.farm.wheat.share.service.dto.DealDetailInfoDTO">
    insert into deal_detail_info (id_deal_detail_info,id_deal_info, trading_date, share_code,
      share_name, deal_price, volume, 
      target, stop_loss_price,
      create_time, update_time, plan,stamp_duty,change_money
      )
    values (#{idDealDetailInfo,jdbcType=INTEGER},#{idDealInfo}, #{tradingDate,jdbcType=DATE}, #{shareCode,jdbcType=VARCHAR},
      #{shareName,jdbcType=VARCHAR}, #{dealPrice,jdbcType=DECIMAL}, #{volume,jdbcType=INTEGER}, 
      #{target,jdbcType=VARCHAR}, #{stopLossPrice,jdbcType=DECIMAL},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{plan,jdbcType=LONGVARCHAR}
      ,#{stampDuty},#{changeMoney}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.farm.wheat.share.service.po.DealDetailInfoPO">
        insert into deal_detail_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idDealDetailInfo != null">
                id_deal_detail_info,
            </if>
            <if test="tradingDate != null">
                trading_date,
            </if>
            <if test="shareCode != null">
                share_code,
            </if>
            <if test="shareName != null">
                share_name,
            </if>
            <if test="dealPrice != null">
                deal_price,
            </if>
            <if test="volume != null">
                volume,
            </if>
            <if test="target != null">
                target,
            </if>
            <if test="stopLossPrice != null">
                stop_loss_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="plan != null">
                plan,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idDealDetailInfo != null">
                #{idDealDetailInfo,jdbcType=INTEGER},
            </if>
            <if test="tradingDate != null">
                #{tradingDate,jdbcType=DATE},
            </if>
            <if test="shareCode != null">
                #{shareCode,jdbcType=VARCHAR},
            </if>
            <if test="shareName != null">
                #{shareName,jdbcType=VARCHAR},
            </if>
            <if test="dealPrice != null">
                #{dealPrice,jdbcType=DECIMAL},
            </if>
            <if test="volume != null">
                #{volume,jdbcType=INTEGER},
            </if>
            <if test="target != null">
                #{target,jdbcType=VARCHAR},
            </if>
            <if test="stopLossPrice != null">
                #{stopLossPrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="plan != null">
                #{plan},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.farm.wheat.share.service.po.DealDetailInfoPO">
        update deal_detail_info
        <set>
            <if test="tradingDate != null">
                trading_date = #{tradingDate,jdbcType=DATE},
            </if>
            <if test="shareCode != null">
                share_code = #{shareCode,jdbcType=VARCHAR},
            </if>
            <if test="shareName != null">
                share_name = #{shareName,jdbcType=VARCHAR},
            </if>
            <if test="dealPrice != null">
                deal_price = #{dealPrice,jdbcType=DECIMAL},
            </if>
            <if test="volume != null">
                volume = #{volume,jdbcType=INTEGER},
            </if>
            <if test="target != null">
                target = #{target,jdbcType=VARCHAR},
            </if>
            <if test="stopLossPrice != null">
                stop_loss_price = #{stopLossPrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="plan != null">
                plan = #{plan,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id_deal_detail_info = #{idDealDetailInfo,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.farm.wheat.share.service.po.DealDetailInfoPO">
    update deal_detail_info
    set trading_date = #{tradingDate,jdbcType=DATE},
      share_code = #{shareCode,jdbcType=VARCHAR},
      share_name = #{shareName,jdbcType=VARCHAR},
      deal_price = #{dealPrice,jdbcType=DECIMAL},
      volume = #{volume,jdbcType=INTEGER},
      target = #{target,jdbcType=VARCHAR},
      stop_loss_price = #{stopLossPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      plan = #{plan,jdbcType=LONGVARCHAR}
    where id_deal_detail_info = #{idDealDetailInfo,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.farm.wheat.share.service.po.DealDetailInfoPO">
    update deal_detail_info
    set trading_date = #{tradingDate,jdbcType=DATE},
      share_code = #{shareCode,jdbcType=VARCHAR},
      share_name = #{shareName,jdbcType=VARCHAR},
      deal_price = #{dealPrice,jdbcType=DECIMAL},
      volume = #{volume,jdbcType=INTEGER},
      target = #{target,jdbcType=VARCHAR},
      stop_loss_price = #{stopLossPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id_deal_detail_info = #{idDealDetailInfo,jdbcType=INTEGER}
  </update>
</mapper>